body {
  color: #a9a9a9;
  background-color: blue;
  font-family: 'Quicksand', sans-serif;
}
ul {
  list-style: none;
}
.face {
  float: left;
  margin-left: 5%;
  width: 25%;
}
.desc {
  margin-left: 35%
}
#main-wrapper {
  padding-top: 65px;
  padding-bottom: 85px;
  position: relative;
  z-index: 6;
}
*, *:before, *:after {
  mox-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  display: block;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after, .row:after {
  clear: both;
}
.container:after, .container-fluid:after, .row:after {
  content: " ";
  display: table;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.photo {
  position: relative;
  vertical-align: middle;
  border: 0;
  margin: 15px;
}
