body {
  color: #a9a9a9;
  background: white;
  font-family: 'Quicksand', sans-serif;
}
a:link {
  font-style: italic;
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
.photo {
  width: 300;
  float: right;
}
